/*  Global Reset  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url("../assets/images/bg-dark-theme.png");
    color: #F2F2F7;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    transition: transform 0.3s ease;
  }
  
 
  /*  Container  */
  .container {
    width: 60rem;
    max-width: 100%;
    padding: 20px;
    margin: auto;
  }
  
  /*  Header  */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .logo img {
    width: 180px;
  }
  
  .toggle-theme {
    width: 30px;
    height: 30px;
    background-color: #2A2B37;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .toggle-theme img {
    width: 20px;
    height: 20px;
  }
  
  /*  Title  */
  h1 {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    line-height: 120%;
    margin: 32px 0;
  }
  
  /*  Textarea  */
  textarea {
    background-color: #21222C;
    border: 1px solid #2A2B37;
    color: #E4E4EF;
    width: 100%;
    height: 200px;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    resize: none;
    align-items: center;
  }
  
  textarea:focus {
    outline-color: #C27CF8
  }
  

/* Warning state for textarea */
.warning-border {
  border: 3px solid #FE8159 !important;
}

/* Disable focus effect when warning is shown */
textarea.warning-border:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid #FE8159;
}

  /*  Controls Section  */
  .controls {
    display: flex;
    flex-direction: column; 
    gap: 12px; 
    align-items: left;
    width: 100%;
    margin-top: 16px;
}

#char-limit-value {
  background-color: #2A2B37; 
  color: #E4E4EF;
  border-radius: 5px;
  width: 60px;
  height: 20px;
  border: 1px solid #D3A0FA;
}


/* Hidden by default */
#limit-input-group {
  display: none;
}

/* Shown only when set-limit is checked — controlled via JS */
#limit-input-group.active {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
}

.hidden {
  display: none;
}


.warning-text {
  font-size: 12px;
  color: #FE8159; 
  margin-top: 16px;
}

.warning-icon img {
  width: 1em;
  height: 1em;
  display: inline-block;
  background-size: contain;
  fill: #FE8159;
}

 
  .options {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
    text-align: left;
  }

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    accent-color: #D3A0FA; 
    cursor: pointer;
  }

  /* Stats Section */
  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5px;
    margin-top: 32px;
  }
  
  .stat-box {
    width: 343px;
    max-width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    margin: 8px 0;
    overflow: hidden; 
  }
  
  .stat-box div .count {
    font-size: 40px;
    font-weight: bold;
  }
  
  .stat-box img {
    width: 80px;  
    height: 80px;
    max-width: 100%;  
    height: auto;     
    display: block;  
    transform: rotate(-90deg); 
  }


  .purple {
    background-image: url("../assets/images/pattern-character-count.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #D3A0FA;
    color: #12131A;
  }
  
  .yellow {
    background-image: url("../assets/images/pattern-word-count.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #FF9F00;
    color: #12131A;
  }
  
  .orange {
    background-image: url("../assets/images/pattern-sentence-count.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #FE8159;
    color: #12131A;
  }

  /* Letter Density Section */
  .density h3 {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: left;
  }

  #density-message{
    display: none; 
    color: #E4E4EF;
     font-size: 16px;

  }
  
  .letters {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }
  
  .letters p {
    width: 20px;
    text-align: center;
    flex-shrink: 0;
  }
  
  .progress-container {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #2A2B37;
    border-radius: 999px;
    position: relative;
    gap: 14px;
  }
  
  .progress-width {
    position: absolute;
    left: 0;
    height: 100%;
    border-radius: 999px;
    background-color: #D3A0FA;
  }
  
  
  /* Percentage label */
  .percentage {
    min-width: 80px;
    text-align: left;
    white-space: nowrap;
  }


.see-more {
  font-size: 20px;
  color: white; 
}


  .hidden {
    display: none;
  } 


  #toggle-density {
    background: none;
    border: none;
    color: #E4E4EF;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
  }
  
  #toggle-arrow img {
    display: inline-block;
    transition: transform 0.3s ease;
    /* margin-left: 0.5rem; */
    transform: rotate(0deg); /* default: down */
   
  }
  
  #toggle-arrow.rotate-up img {
    transform: rotate(-180deg);
  }

  
  
/* LIGHT THEME */
body.light {
  background-image: url("../assets/images/bg-light-theme.png");
  color: #2A2B37;
}

body.light textarea {
  background-color: #F2F2F7;
  color: #2A2B37;
  border: 1px solid #E4E4EF;

}

body.light .toggle-theme {
  background-color: #F2F2F7;
}

body.light .progress-bar {
  background-color: #F2F2F7;
}

/* Show light theme logo, hide dark theme logo */
body.light .dark-theme-logo {
  display: none;
}

body.light .light-theme-logo {
  display: block;
}

/* Show moon icon in light mode, hide sun icon */
body.light .sun-icon {
  display: none;
}

body.light .icon-moon {
  display: block;
}


body.light #char-limit-value {
  background-color: #E4E4EF;
  color: #12131A;
  border: 1px solid #F2F2F7;
}

body.light #density-message {
  color: #404254;
}

body.light #toggle-arrow img {
  filter: invert(0);
}
/* Default (dark theme) */
.dark-theme-logo {
  display: block;
}

.light-theme-logo {
  display: none;
}

.icon-moon {
  display: none;
}

#toggle-arrow img {
  filter: invert(1);
}


body.light .see-more {
  color: black;
}



  /*  Responsive Design  */
  @media (min-width: 768px) {
    .container {
      max-width: 95%;
    }
    
    h1 {
        font-size: 36px;
      }
    
      .stats {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
      }
    
      .controls {
        flex-direction: row;
        justify-content: space-between; 
    }

      .options {
        display: flex;
        flex-direction: row;
      }

      .stat-box {
        width: 100%;
      }
    }


    /* Desktop*/
    @media (min-width: 1240px) { 
        .controls {
            flex-direction: row;
            justify-content: space-between;
        }

        .options {
          display: flex;
          flex-direction: row;
        }

      .stats {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
      }

    }

   